#keyboard {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.key {
  height: 100px;
  width: 30px;
  border: 1px solid #ccc;
  z-index: 1;
}

.key-white {
  background-color: #fff;
}

.key-black {
  height: 60px;
  width: 20px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #000;
  z-index: 2;
}

.key.pressed {
  background-color: #6db5ff;
}

.key.missed {
  background-color: #ff6d6d;
}

.key.expected {
  background-color: #6dff6d;
}

/* large and centered */
#trainingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: bold;
  color: #ccc;
}
